#UserTasks{
    display: grid;
    grid-template-columns: 20% 70%;


    animation-duration: .8s;
    transition: .8s;

    animation-fill-mode: forwards;
    overflow: auto;
}

#UserTaskDetail{
    padding-left: 8%;
    padding-top: 4%;

    animation-duration: .8s;
    transition: .8s;

    animation-fill-mode: forwards;
    overflow: auto;
}

#UserTaskHeader{
    display: flex;

    padding-bottom: 2%;
}

#TaskDeadline{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: clamp(5px, 2rem, 2vw);

    text-align: right;
}

#ButtonDeleteTask:hover{
    transition: .2s;
    color: red;
}

#ProgressTask,
#DescriptionTask,
#TaskSteps{
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(5px, 1.4rem, 3vh);
    font-weight: 400;
}

#ProgressTask{
    margin-left: 2%;
    padding: 0.3%;
    align-self: center;

    border: 1px solid #07FE20;
    border-radius: 8px;
}

#DescriptionTask{
    padding-bottom: 3%;
}

#TaskSteps{
    display: flex;
    flex-direction: column;

    justify-content: left;
    align-items: flex-start;
}

.TaskOption{
    display: flex;
}

.TaskOption .TaskStepName{
    margin-left: 1rem;
}

#CreateNewOptions{
    width: 40vw;
}

#InputAddNewStep{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: clamp(5px, 1.4rem, 1vw);

    width: 50%;
    padding: 1%;

    margin-top: 3%;

    border-radius: 6px;

    color: #0F172A;
    background-color: #E2E8F0;

    border-color: #94A3B8;

    transition: .2s;

    cursor: pointer;
}

#InputAddNewStep:hover{
    background-color: #ccddf3;
}

#AddMoreOptions{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: clamp(5px, 1.4rem, 1vw);

    width: 15%;
    padding: 1%;

    margin-left: 3%;

    border-radius: 6px;

    color: white;
    background-color: #408FFF;

    cursor: pointer;

    transition: .2s;
}

#AddMoreOptions:hover{
    background-color: #217bfa;
}

/* Animations */

@keyframes ocultDivUserTasks{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20%);
    }

    from {width: 100%;}
    to {width: 120%;}
}

@keyframes alignDivUserTaskDetail{
    from {padding-left: 8%;}
    /* to {padding-left: 20%;} */
}

@keyframes returnDivUserTasksOriginalPosition{
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes returnDivUserTaskDetailOriginalPosition {
    /* from {padding-left: 20%;} */
    to {padding-left: 8%;}
}
